<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grApp</title>
    <link rel="stylesheet" href="{% static '/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
  <link rel="shortcut icon" type="image/png"  href="{% static 'images/fav2.svg' %}">
  <script src="{% static '/vendor/popper.min.js' %}" ></script>
  <script src="{% static '/vendor/force-graph.min.js' %}"></script>
  <!--<script src="https://d3js.org/d3.v3.min.js"></script>-->
  <script src="{% static '/vendor/d3-quadtree.min.js' %}"></script>
  <script src="{% static '/vendor/3d-force-graph.min.js' %}"></script>
  <script src="{% static '/vendor/d3-force.min.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <!--<script src="//unpkg.com/d3-octree"></script>-->
  <script src="{% static '/vendor/jquery-3.5.1.min.js' %}" ></script>
  <script src="{% static 'events.js' %}"></script>
  <script src="{% static '/vendor/bootstrap.min.js' %}"></script>




</head>
<body class="">



    {% block home %}
    {% endblock %}

    {% block graph %}
    {% endblock %}





<script src="{% static 'index.js' %}"></script>


</body>
</html>